body {
    background-color: rgb(21, 32, 43);
    color: rgb(255, 255, 255);
}

.btn {
    border-radius: 17px;
    text-align: center;
    min-width: 75px;
    font-size: 15px;
    background-color: #00aced;
    color: rgb(255, 255, 255);
}

.card {
    border-color: gray;
}

.post {
    display: grid;
    grid-template-columns: 1fr 9fr;
}

.post #tweet-image {
    text-align: center;
    margin: auto;
}

.tweet-container {
    background-color: #17202a;
    padding: 1em;
    display: grid;
    grid-template-row: 1fr 4fr 1fr;
    grid-auto-rows: minmax(30px, auto);
    /*grid-row-gap: 5px;*/
}

.profile-container {
    background-color: #17202a;
    padding: 1em;
    display: grid;
    grid-template-row: 3fr 1fr 1fr;
    grid-auto-rows: minmax(30px, auto);
    grid-row-gap: 5px;
}

.profile-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-header #follow-button {
    justify-self: end;
}

.tweet-header {
    display: grid;
    grid-template-columns: 1fr 1.25fr 1.25fr 4fr;
    grid-auto-columns: minmax(30px, auto);
}

.tweet-header #user-name {
    color: white;
    /*background: tomato;*/
}

.tweet-header #handle, .tweet-header #timestamp {
    color: #8b99a5;
    /*background: lightgray;*/
}
.tweet-header #edit-tweet {
    justify-self: end;
}

.post .edit-link {
    color: rgba(29, 161, 242, 1.00)
}

.post .edit-link:hover {
    cursor: pointer;
    color: blue;
}

.bg-card {
    background-color: rgb(21, 32, 43);
    color: rgb(255, 255, 255);
}

.post {
    /*color: white;*/
    /*height: 150px;*/
    /*margin: 10px auto;*/
    border-radius: 5px;
    border: solid 1px #979797;
    background-color: #17202a;
}

#status-input {
    background-color: rgb(21, 32, 43);
    color: rgb(255, 255, 255);
    border: none;
}

#update-post {
    background-color: rgb(21, 32, 43);
    color: rgb(255, 255, 255);
}

.navbar-light .navbar-nav .nav-link {
    background-color: rgb(21, 32, 43);
    color: rgb(255, 255, 255);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(29, 161, 242, 1.00);
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
    transition: all 0.3s ease;
    box-shadow: inset 0 0 0 25px rgba(29, 161, 242, .1);
    border-radius: 50%;
}


.navbar .navbar-brand {
    color: rgb(255, 255, 255);
}

.navbar .navbar-brand:hover {
    color: rgba(29, 161, 242, 1.00);
}




/* Like Button Source: https://cssninja.io/blog/post/lets-make-button*/

.like-button {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    text-decoration: none;
    overflow: hidden;
    /*display: inline-block;*/
}

.like-count {
    display: inline-block;
    overflow: hidden;
    margin: 0;
    padding: 2px;
}

/*Defining the animation*/
@-webkit-keyframes bouncy {
    from, to {
        -webkit-transform: scale(1, 1);
    }
    25% {
        -webkit-transform: scale(0.9, 1.1);
    }
    50% {
        -webkit-transform: scale(1.1, 0.9);
    }
    75% {
        -webkit-transform: scale(0.95, 1.05);
    }
}

@keyframes bouncy {
    from, to {
        transform: scale(1, 1);
    }
    25% {
        transform: scale(0.9, 1.1);
    }
    50% {
        transform: scale(1.1, 0.9);
    }
    75% {
        transform: scale(0.95, 1.05);
    }
}

.is-liked {
    color: tomato;
}

.not-liked {
    color: rgba(29, 161, 242, 1.00);
}

.not-liked:hover, .is-liked:hover {
    cursor: pointer;
}

/*Animation Settings*/
.bouncy:hover {
    -webkit-animation: bouncy 0.6s;
    animation: bouncy 0.6s;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    color: tomato;
}



